/*
paleta de cores
verde #49a09d
lilás #5f2c82

*/

* {
    font-family: 'apple-system', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

body, html  {
    background: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /* para esconder o que ultrapassar o border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    transition: width .3s, height .3s;/* transição suave ao mudar o tamanho */
    transition-timing-function: ease;
}

section#login div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}   