/*
paleta de cores
verde #49a09d
lilás #5f2c82

*/

* {
    font-family: 'apple-system', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

body, html  {
    background: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden; /* para esconder o que ultrapassar o border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    transition: width .3s, height .3s;/* transição suave ao mudar o tamanho */
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}

section#login div#formulario {
    font-size: 12px;
    display: block;
    padding: 5px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

div#formulario p {
    font-size: 0.8em;
}

form div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #59d8d2;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 47px);    
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-7px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color : white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1d413f;
    cursor: pointer;
}

form a.botao {    
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: rgb(59, 190, 190);
    color: #1d413f;
    border: 1px solid #1d413f;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

form a.botao span {
    font-size: 0.9em;
}

form a.botao:hover {
    background-color: #1d413f;
    color: white;
    cursor: pointer;
}